!!!
%html
	%head
		%title VONGRIPP.EXE
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
		%link{href: 'bootstrap/css/bootstrap.min.css', rel: 'stylesheet', media: 'screen'}
		:javascript
			_386 = { onePass: true, speedFactor: 0.5 };
	%body{style: "visibility: hidden"}
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					%button.btn.btn-navbar{type: 'button', data: {target: '.nav-collapse', toggle: 'collapse'}}
					%a.brand{href: '#'} VONGRIPP.EXE
					.nav-collapse.collapse
						%ul.nav
							%li.active
								%a{href: '#'} Home
							%span.webring
								%li.prev
								%li.next

		%script{src: 'http://code.jquery.com/jquery.js'}
		%script{src: 'bootstrap/js/bootstrap.min.js'}