!!!
%html
	%head
		%title VONGRIPP.EXE
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
		%link{href: 'bootstrap/css/bootstrap.min.css', rel: 'stylesheet', media: 'screen'}
		:javascript
			_386 = { onePass: true, speedFactor: 0.5 };
		:css
			.dropdown-menu {
				margin-top: 5px;
			}
	%body{style: "visibility: hidden"}
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				%button.btn.btn-navbar{type: 'button', data: {target: '.nav-collapse', toggle: 'collapse'}}
				%a.brand{href: '#'} VONGRIPP.EXE
				.nav-collapse.collapse
					%ul.nav
						%li.active
							%a{href: '#'} Home
						%li.dropdown
							%a.dropdown-toggle{data:{toggle: 'dropdown'}, href: '#'}
								Webring
							%ul.dropdown-menu{role: 'menu', aria: {labelledby: 'dLabel'}}
								%li
									%a.webring_prev
										Previous
								%li
									%a.webring_rand
										Random
								%li
									%a.webring_next
										Next
						%li.pull-right
							%a{href: "#"}
								/# echo var="date_local"

		%script{src: 'http://code.jquery.com/jquery.js'}
		%script{src: 'bootstrap/js/bootstrap.min.js'}
		%script{src: 'http://memtech.website/webring.js'}
